$--clr-black: #000000;
$--clf-white: #ffffff;

$--ff-george: 'George X' !default;
$--ff-suisse: "Suisse BP Int'l" !default;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ('navigation', 'content');

$max-width: 1440px;
