html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;

  @include on-event {
    text-decoration: underline;
  }
}

img {
  vertical-align: middle;
}

button {
  background: none;
  color: inherit;
  outline: none;
  cursor: pointer;
  border: none;
}
