*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  @extend %cover;

  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
  overflow: hidden;
  position: fixed;

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  @extend %description-16;
  @extend %cover;

  font-family: $--ff-suisse;
  position: fixed;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;

  @include on-event {
    text-decoration: underline;
  }
}

img {
  vertical-align: middle;
}

button {
  background: none;
  color: inherit;
  outline: none;
  cursor: pointer;
  border: none;
}

.content {
  @extend %cover;
}
