.collections {
  @extend %cover;

  color: $--clr-spanish-white;
  background: $--clr-quicksand;
}

.collections-wrapper {
  @extend %cover;

  overflow: hidden;
}

.collections__titles {
  @extend %vertical-titles;

  @include media('<phone') {
    display: none;
  }
}

.collections__titles-label {
  @extend %vertical-titles-label;
}

.collections__titles-title {
  @extend %vertical-titles-title;
}

.collections__gallery {
  @extend %cover;
}

.collections__gallery-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.collections__gallery__link {
  display: block;
  margin: 0 5.3rem;
}

.collections__gallery-media {
  width: 44.753rem;
  height: 72rem;
  position: relative;
}

.collections__gallery-media__image {
  @extend %cover;

  object-fit: cover;
}

.collections__content {
  @extend %cover;

  @include media('<phone') {
    display: none;
  }
}

.collections__article {
  position: absolute;
  left: 8rem;
  bottom: 8.7rem;
  opacity: 0;

  &--active {
    opacity: 1;
  }
}

.collections__article-title {
  @extend %title-60;
  margin-bottom: 1.75rem;
}

.collections__article-description {
  @extend %description-16;

  line-height: 2.4rem;
  max-width: 44rem;
}

.collections__mobile {
  display: flex;
  position: absolute;
  bottom: 5rem;
  @include media('>=phone') {
    display: none;
  }
}

.collections__mobile-item {
  padding-left: 5rem;
  width: 100vw;
}

.collections__mobile-item__label {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.collections__mobile-item__title {
  font-family: $--ff-george;
  font-size: 12rem;
  margin-top: 2.8rem;
}
